###########################
#Idea Files
###########################
.idea/
*ipr
*.iml

###########################
#Node Modules
###########################
node_modules/

###########################
#Other Files
###########################
debug.log

###########################
#Coverage Files
###########################
coverage/